# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
*.env

# VS Code settings
.vscode/

# Test and coverage reports
*.cover
*.coverage
*.pyc
*.pyo
*.pyd
.cache/
coverage.xml
htmlcov/
*.log

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/